<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Salb Yurishlari</title>
    <link rel="stylesheet" href=" static 'STYLE/style.css'">
</head>
<body>
<section class="sec1">
    <div class="col">
    {% for foo in yurishlar %}
        <div class="card1">
            <div class="text">
                <img src="../../static/image/2c98dcc3d40d63985b4ef4b4de801a52.jpg"/>
                <a href="{% url 'index2' foo.id %}"><h3>{{ foo.nomi }}</h3></a>
            </div>
        </div>

    {% endfor %}

    </div>
{#    <div class="col">#}
{#        <div class="card1">#}
{#            <img src="../../static/IMG/IMG_20200705_095115_790.jpg"/>#}
{#            <div class="text">#}
{#                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus deserunt, eos expedita magnam vitae!</p>#}
{#            </div>#}
{#        </div>#}
{##}
{#    </div>#}

</section>
</body>
</html>